.products {
    background: rgb(255, 248, 243);
    padding-top: 300px;
    overflow-x: hidden;
}
.products-body {
    display: flex;
    gap: 0 76px;
    position: relative;
    margin-bottom: 70px;
}
.products-content {
    max-width: 391px;
}
.products-title {
    font-family: var(--yesevaOne);
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 15px;
}
.products-text {

}
.products-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 109px;
    row-gap: 50px;
}
.products-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-item__img {
    width: 273.78px;
    height: 310px;
    margin-bottom: 8px;
}
.products-item__price {
    font-family: var(--yesevaOne);
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 12px;
}
.products-item__name {
    font-family: var(--yesevaOne);
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
}
.products-item__text {
    flex-grow: 1;
    width: 290px;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 27px;
    text-align: center;
}
.roducts-item__button { 
    background: rgb(255, 189, 89);
    padding: 18px 54px;
    color: rgb(39, 39, 39);
    font-weight: 600;
}
.products-decor {
    display: flex;
    justify-content: flex-end;
}
.products-decor__img {
    width: 24px;
    height: 33px;
}
.products-decor__line {
    margin-top: 20px;
    width: 908px;
    height: 1px;
    background: rgb(123, 97, 82);
    margin-right: -200px;
}

@media (max-width: 1200px){
    .products {
        padding-top: 100px;
    }
    .products-body {
        gap: 0 30px;
    }
}

@media (max-width: 1015px){
    .products-body {
        flex-direction: column;
        align-items: center;
        row-gap: 70px;
    }
    .products-text {
        font-size: 20px;
        line-height: 1.4;
    }
    .products-items{
        column-gap: 20px;
    }
}

@media (max-width: 700px){
    .products {
        padding-top: 30px;
    }
    .products-items{
        grid-template-columns: repeat(1, 1fr);
    }
}