.questions {
    margin-top: 150px;
}
.questions-inner{
    display: flex;
    column-gap: 47px;
}
.questions-title {
    font-family: var(--yesevaOne);
    font-size: 40px;
    line-height: 46px;
}
.questions-burger {}
.questions-item {
    margin-bottom: 10px;
}
.questions-item__button {
    width: 770px;
    display: flex;
    justify-content: space-between;
    font-family: var(--yesevaOne);
    font-size: 16px;
    line-height: 18px;
    background: transparent;
    border: none;
    box-shadow: 0px 4px 11px 0px rgba(196, 174, 151, 0.2);
    background: rgb(255, 255, 255);
    padding: 16px 13px;;
}
.questions-item__text {
    display: none;
    width: 757px;
    height: 134.78px;
    padding-top: 17px;
    margin-left: 15px;
}